@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
}
/******************************************
/* LAYOUT
/*******************************************/
img{
  height: 300px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.container {
  width: 60%;
  max-width: 60ch;
  margin: 0 auto;
}